﻿.button-animate {
    z-index: 99;
    border: 0 !important;
    position: fixed !important;
    right: 17px !important;
    text-align: center;
    line-height: 60px;
    background-color: transparent;
    transition: width .5s;
    -webkit-transition: width .5s
}

    .button-animate .x-btn-button {
        flex: unset !important
    }

    .button-animate .x-btn-icon-el {
        background: #909090;
        border-radius: 50%;
        height: 60px !important;
        width: 60px !important;
        line-height: 60px;
        margin: 0 !important
    }

    .button-animate .x-btn-inner {
        display: none;
        font-size: 14px;
        padding: 0 !important
    }

    .button-animate:hover {
        width: 220px !important;
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        background: #909090;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important
    }

a.add-cls-active .x-btn-icon-el, .button-animate-pressed .x-btn-icon-el {
    background: #6ebdda !important
}

.button-animate-pressed {
    width: 220px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    background: #6ebdda !important
}

    .button-animate-pressed .x-btn-inner, .button-animate:hover .x-btn-inner {
        display: block !important
    }

.button-scroll {
    z-index: 99;
    border: 50px !important;
    position: fixed !important;
    right: 20px !important;
    height: 50px !important;
    bottom: 50px !important;
    background-color: #e6e6e6; /*!* top: 100px !important; *!*/
    transition: width .5s;
    -webkit-transition: width .5s
}

    .button-scroll:hover {
        background-color: #e6e6e6
    }

    .button-scroll:focus {
        background-color: #e6e6e6
    }

.fa-arrow-up {
    background-color: transparent;
    color: #81daf5
}

a.add-cls-active {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background: #6ebdda !important
}

.clear-button-file-nghi-di-duong {
    position: absolute !important;
    top: 1px !important;
    right: 88px !important;
    background-color: #fff !important;
    border: 0;
    height: 24px;
    padding: 4px;
    margin-top: 0
}

    .clear-button-file-nghi-di-duong span {
        color: #555 !important;
        font-size: 16px;
        font-weight: bold
    }

.border-color-numberfield .x-form-trigger-wrap {
    border-color: #cf4c35 !important
}

.bound-list-css {
    background-color: #e4e4e4;
    border: 0;
    margin-left: 30px
}

.cont-switch-user .x-box-inner {
    height: 35px !important
}

.clear-button-file-hr-edit-profile-user {
    position: absolute !important;
    top: 15px !important;
    right: 80px !important;
    background-color: #fff !important;
    border: 0;
    height: 24px;
    padding: 4px;
    margin-top: 0
}

    .clear-button-file-hr-edit-profile-user span {
        color: #555 !important;
        font-size: 16px;
        font-weight: bold
    }
