﻿.header-metro-home .header-avatar-page-home {
    width: 44px;
    background: url("/resources/images/metro/bkg-user-small.png");
    position: relative;
    display: flex;
    height: 44px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center
}

.header-metro-title h4 {
    padding-left: 40px
}

.header-metro-title > h4 .highlight {
    color: #1999c8;
    font-weight: 600
}

.header-metro-home .header-avatar-page-home .image-profile-avatar {
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important
}

.header-metro-home .top-user-name {
    padding: 12px !important;
    margin: 0 !important;
    border: transparent !important;
    background-color: inherit !important
}

    .header-metro-home .top-user-name .x-btn-arrow-right:after {
        color: #404040 !important
    }

    .header-metro-home .top-user-name span {
        background-size: 18px !important;
        font-weight: 500;
        line-height: 22px
    }

.header-metro-home .top-user-name {
    font-weight: 500 !important;
    color: #f44336 !important
}

.header-metro-home .btn-logout-out {
    padding: 6px !important;
    margin: 0 !important;
    background-color: inherit !important;
    border: none !important
}

.avatar {
    border-radius: 50%;
    border-color: #6ebdda;
    border-style: solid;
    z-index: 10
}

    .avatar.iconmyteam {
        width: 54px !important;
        height: 54px !important
    }

    .avatar .x-box-target {
        z-index: 1
    }

        .avatar .x-box-target img {
            z-index: -1
        }

.button-home-in {
    background-color: white !important;
    left: 30px !important;
    top: 5px !important
}

.icon-home-header {
    border-radius: 50% !important;
    left: 15px !important;
    text-align: center;
    background-color: #f66b6a
}

    .icon-home-header .icon-header-in-circle {
        background-color: transparent !important;
        border: none !important
    }

        .icon-home-header .icon-header-in-circle:hover {
            cursor: pointer
        }

.main-breadcrumb {
    margin-top: 20px;
    color: black;
    font-size: 16px
}

    .main-breadcrumb .breadcrumb-separator {
        padding: 0 5px
    }

.header-icon-avatar-small {
    top: 5px
}

.full-header {
    padding: 0 0 0 0 !important
}

.title-like-breadcrumb-before {
    font-weight: 400;
    color: #1999c8;
    font-size: 22px;
    text-transform: uppercase
}

.title-like-breadcrumb-after {
    font-weight: bold;
    color: #1999c8;
    font-size: 22px;
    text-transform: uppercase
}

.x-column-header-text-wrapper {
    display: block
}

.x-window-header-title-default > .x-title-text-default {
    text-transform: uppercase !important
}

.x-tool-close-over {
    content: 'ÄÃ³ng'
}

.system-manage-cls {
    background-color: transparent;
    overflow: hidden !important;
    outline: none !important;
    background-repeat: no-repeat
}

    .system-manage-cls span {
        color: black !important
    }

    .system-manage-cls:hover {
        background-color: transparent
    }

    .system-manage-cls:focus {
        background-color: transparent !important
    }

.container-icon-home-header:hover {
    transform: scale(1.1,1.1);
    opacity: 1
}

.change-style-when-hover:hover {
    transform: scale(1.2,1.2);
    opacity: 1
}
