﻿.uxt-wizard-button {
    min-width: 100px;
    color: #5c5c5c;
    background-color: #f1f1f1;
    transition: 150ms cubic-bezier(0.05, 0.99, 0.62, 0.73);
    border-color: #cacaca;
    box-shadow: none;
    text-shadow: none;
    border-radius: 2px;
}
.uxt-wizard-button--blue {
    color: #ffffff;
    background-color: #007faa;
    border-color: #006c91;
}
.RadListBox_Silk {
    color: #333
}

    .RadListBox_Silk .rlbButton {
        border-color: #c4c4c4;
        color: #5f5f5f;
        background-color: #e3e3e3;
        background-image: linear-gradient(white,#e3e3e3);
        border-radius: 3px
    }

    .RadListBox_Silk .rlbGroup, .RadListBox_Silk .rlbTemplateContent {
        border-color: #d9d9d9;
        color: #333;
        background-color: #fff
    }

        .RadListBox_Silk .rlbGroup .rlbSelected.rlbDropClueAbove {
            border-top-color: #333
        }

        .RadListBox_Silk .rlbGroup .rlbSelected.rlbDropClueBelow {
            border-bottom-color: #333
        }

    .RadListBox_Silk .rlbButton:focus {
        border-color: rgba(17,147,170,0.5);
        box-shadow: inset 0 0 5px rgba(17,147,170,0.5)
    }

    .RadListBox_Silk .rlbHovered.rlbItem, .RadListBox_Silk .rlbHighlight {
        color: #333;
        background-color: #bceff8
    }

    .RadListBox_Silk .rlbHovered.rlbButton {
        border-color: #0092ab;
        color: #fff;
        background-color: #0092ab;
        background-image: linear-gradient(#00acca,#0092ab)
    }

    .RadListBox_Silk .rlbActive.rlbButton {
        border-color: #1193aa;
        color: #fff;
        background-color: #14afca;
        background-image: none
    }

    .RadListBox_Silk .rlbItem.rlbSelected {
        color: #fff;
        background-color: #81cfdc
    }

