﻿.RadMenu_Silk .rmRootGroup {
    border-color: #e3e3e3;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white,#e3e3e3);
    box-shadow: 0 2px 2px #e3e2e2
}

    .RadMenu_Silk .rmRootGroup.rmVertical {
        background-color: #f2f2f2;
        background-image: none
    }

    .RadMenu_Silk .rmRootGroup .rmItem {
        border-color: #cacaca #fdfdfd white #e3e3e3
    }

    .RadMenu_Silk .rmRootGroup .rmRootLink:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: none
    }

    /*.RadMenu_Silk .rmRootGroup.rmHorizontal .rmRootLink:after {
        width: 100%;
        border-top: 4px solid #14afca
    }*/
    .RadMenu_Silk .rmRootGroup .rmItem .rmFirst .rmLast .rmTemplate {
        border-color: #d1d1d1;
        color: #404040;
        background-color: #d1d1d1;
        background-image: linear-gradient(#f7f7f7,#d1d1d1);
        color: #14afca
    }
    .RadMenu_Silk .rmRootGroup.rmVertical .rmRootLink:after {
        height: 100%;
        border-left: 4px solid #14afca
    }

    .RadMenu_Silk .rmRootGroup .rmRootLink:hover {
        border-color: #d1d1d1;
        color: #404040;
        background-color: #d1d1d1;
        background-image: linear-gradient(#f7f7f7,#d1d1d1);
        color: #14afca
    }

    .RadMenu_Silk .rmRootGroup .rmSelected > .rmRootLink, .RadMenu_Silk .rmRootGroup .rmExpanded > .rmRootLink {
        border-color: #e3e3e3;
        color: #14afca;
        background-color: #fff;
        background-image: linear-gradient(#ebebeb,#fff)
    }

    .RadMenu_Silk .rmRootGroup .rmFocused > .rmLink {
        border-color: rgba(227,227,227,0.5);
        box-shadow: inset 0 0 5px #e3e3e3
    }

    .RadMenu_Silk .rmRootGroup .rmRootLink:hover:after, .RadMenu_Silk .rmRootGroup .rmSelected > .rmRootLink:after, .RadMenu_Silk .rmRootGroup .rmExpanded > .rmRootLink:after {
        display: block
    }

    .RadMenu_Silk .rmRootGroup .rmDisabled > .rmRootLink:hover:after {
        display: none
    }

.RadMenu_Silk .rmGroup, .RadMenu_Silk .rmMultiColumn, .RadMenu_Silk .rmPopup {
    border-color: #d9d9d9;
    color: #292929;
    background-color: #fff;
    padding: 0
}

    .RadMenu_Silk .rmGroup.rmScrollWrap .rmHorizontal, .RadMenu_Silk .rmGroup.rmScrollWrap .rmVertical {
        padding: 0
    }

    .RadMenu_Silk .rmGroup .rmLink:hover, .RadMenu_Silk .rmGroup .rmToggle:hover {
        border-color: #bceff8;
        color: #333;
        background-color: #bceff8
    }

    .RadMenu_Silk .rmGroup .rmSelected > .rmLink, .RadMenu_Silk .rmGroup .rmExpanded > .rmLink, .RadMenu_Silk .rmGroup .rmSelected > .rmLink .rmToggle, .RadMenu_Silk .rmGroup .rmExpanded > .rmLink .rmToggle {
        border-color: #81cfdc;
        color: #fff;
        background-color: #81cfdc
    }

    .RadMenu_Silk .rmGroup .rmFocused > .rmLink, .RadMenu_Silk .rmGroup .rmFocused > .rmLink .rmToggle {
        border-color: #81cfdc;
        box-shadow: inset 0 0 5px #81cfdc
    }

.RadMenu_Silk .rmSeparator {
    border-color: #e3e3e3
}

.RadMenu_Silk .rmGroup .rmSeparator {
    border-color: #d9d9d9
}

.RadMenu_Silk .rmVertical > .rmSeparator {
    margin: 1px 7px
}

.RadMenu_Silk .rmArrow {
    border-color: #d9d9d9;
    background-color: #f2f2f2
}

    .RadMenu_Silk .rmArrow:hover {
        background-color: #e6e6e6
    }

.RadMenu_Silk .rmShadows .rmGroup {
    box-shadow: 3px 3px 5px #d9d9d9
}

.RadMenu_Silk .rmGroup:before, .RadMenu_Silk .rmMultiColumn:before, .RadMenu_Silk .rmScrollWrap > .rmHorizontal:before, .RadMenu_Silk .rmScrollWrap > .rmVertical:before {
    display: none
}
