﻿.logo-login {
    margin: 40px 0 20px 20px
}

.login-background {
    background: url(../resources/images/icons/login-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45%;
    height: 100%;
    float: left;
    width: 50%
}

.login-title {
    font-size: 40px;
    text-align: center;
    color: #0093d9;
    padding-left: 15px;
    text-transform: uppercase
}

a {
    color: #0093d9;
    text-decoration: none
}

i {
    margin-right: 5px
}

.breadcrumb {
    list-style: none;
    padding: 12px 0 13px 15px;
    margin-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: unset;
    border-bottom: 1px solid #eae0e0;
    background: #fff
}

    .breadcrumb > li {
        display: inline-block
    }

        .breadcrumb > li + li:before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0"
        }

fieldset {
    border: 1px solid #ccc;
    border-radius: 3px
}

.roles {
    background-image: url(../resources/images/icons/role.png) !important;
    background-size: 16px 16px
}

.grid-header-value.x-autocontainer-form-item {
    margin-bottom: 0
}

.grid-header-value .x-form-trigger-wrap {
    border-bottom: 0
}

.notification-type {
    padding: 2px 5px;
    background: #16a085;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 11px
}

.notification-title {
    color: #444
}

.notification-content {
    font-weight: 400;
    color: #666;
    margin-left: 5px;
    font-style: italic;
    font-size: 12px
}

.notification-date {
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-style: italic
}

.i-content {
    padding: 10px
}

.notification .x-grid-item-focused .x-grid-cell-inner:before {
    border: 0
}

.logout {
    background: none !important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important
}

.hidden {
    display: none
}

.x-toggle-slide-container, .x-toggle-slide-container label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none
}

.x-toggle-slide-disabled {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}

.x-toggle-slide-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    height: 25px;
    cursor: pointer;
    overflow: hidden
}

    .x-toggle-slide-container div.holder {
        height: 25px;
        overflow: hidden
    }

    .x-toggle-slide-container label {
        white-space: nowrap;
        font-size: 15px;
        line-height: 17px;
        font-weight: bold;
        font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        clear: both;
        height: 23px;
        width: auto;
        padding-top: 3px;
        overflow: hidden
    }

label.x-toggle-slide-label-on {
    background: #5ea2da;
    color: #f7fafd
}

    label.x-toggle-slide-label-on span {
        padding-left: 8px
    }

label.x-toggle-slide-label-off {
    background: #d5d6d6;
    color: #7d7373;
    text-align: right
}

    label.x-toggle-slide-label-off span {
        padding-right: 8px
    }

.x-toggle-slide-thumb {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #f3f3f3;
    border: 1px solid #d5d6d6;
    padding-left: 3px
}

.x-item-disabled .x-toggle-slide-label-on span {
    color: white !important
}

.x-item-disabled .x-toggle-slide-label-off span {
    color: gray !important
}

.x-toolbar .x-toggle-slide-container label {
    font-size: 12px !important;
    height: 17px;
    padding-top: 1px
}

.x-toolbar .x-toggle-slide-container {
    height: 17px
}

    .x-toolbar .x-toggle-slide-container div.holder {
        height: 17px
    }

.x-toolbar label.x-toggle-slide-label-on span {
    padding-left: 6px
}

.x-toolbar label.x-toggle-slide-label-off span {
    padding-right: 6px
}

.x-toolbar .x-toggle-slide-thumb {
    height: 17px
}

.x-toolbar-right .x-toggle-slide-label-on {
    text-align: left
}

.x-field .x-toggle-slide-container label {
    font-size: 12px !important;
    height: 25px;
    padding-top: 1px;
    line-height: 25px
}

.x-field .x-toggle-slide-container {
    height: 25px
}

    .x-field .x-toggle-slide-container div.holder {
        height: 25px
    }

.x-field label.x-toggle-slide-label-on span {
    padding-left: 6px
}

.x-field label.x-toggle-slide-label-off span {
    padding-right: 6px
}

.x-field .x-toggle-slide-thumb {
    height: 25px
}

.x-toolbar-right .x-toggle-slide-label-on {
    text-align: left
}

.right-key {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px
}

.right-block .x-form-item-label-default {
    padding-top: 3px !important
}

.right-block {
    margin-bottom: 20px
}

.x-panel-default-framed {
    border-width: 0 !important;
    border-color: #ccc !important
}

.x-form-item-label-default.general-group-lbl {
    font-weight: bold;
    color: #606060;
    font-size: 12px
}

.required {
    color: red
}

.breadcrumb a {
    color: #0093d9
}

a.x-btn, .x-masked {
    box-shadow: none !important
}

.x-btn {
    text-decoration: none !important
}

a.x-btn:hover {
    text-decoration: none
}

.x-masked {
    border-color: #ccc !important;
    outline: 0 !important
}

.fa-navicon {
    font-size: 30px !important;
    color: #333 !important;
    width: auto !important;
    height: auto !important
}

.fa-user-circle {
    color: black !important
}

.tb-separator {
    color: #000 !important;
    height: 20px !important;
    font-size: 12px !important
}

.fa-sign-out {
    color: #000 !important
}

.top-user-name-in {
    top: 0 !important;
    padding: 12px !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    border: transparent !important;
    background-color: inherit !important
}

.x-form-text {
    height: 100% !important;
    padding: 5px
}

.general-event {
    display: flex;
    color: #333 !important
}

.time-beach {
    width: 20px;
    height: 20px;
    background: #f7bd23;
    background-image: url(../resources/images/icons/beach.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-right: 5px
}

.time-work {
    width: 20px;
    height: 20px;
    background: #039be6;
    background-image: url(../resources/images/icons/working.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-right: 5px
}

.time-business {
    width: 20px;
    height: 20px;
    background: #4caf50;
    background-image: url(../resources/images/icons/congtac.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-right: 5px
}

.time-conference {
    width: 20px;
    height: 20px;
    background: #7885c7;
    background-image: url(../resources/images/icons/conference.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-right: 5px
}

.btn-calendar .fa-calendar {
    font-size: 16px
}

.lcn-sidebar {
    z-index: 999 !important
}

.fa {
    font-size: 16px !important
}

    .fa.color-red {
        color: red
    }

.x-tbar-page-number input {
    text-align: center
}

.x-column-header-checkbox:after {
    color: unset !important
}

.x-mask-msg {
    background: #fff !important;
    border-radius: 5px
}

.x-mask-msg-text {
    padding: 40px 0 0 !important;
    background-image: url(../resources/images/icons/loading.gif) !important;
    background-size: 40px
}

.btn-today, .btn-update-quick, .btn-create, .btn-next {
    color: #fff !important;
    background-color: #0093d9 !important;
    border-color: #0093d9 !important;
    border: 0 !important
}

    .btn-today span, .btn-update-quick span, .btn-create span, .btn-next span::after, .btn-next span {
        color: #fff !important
    }

    .btn-create span {
        background-size: 20px !important
    }

.prev, .middle, .next {
    margin: 0 !important
}

.middle {
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important
}

.x-calendar-list-icon {
    border-radius: 3px
}

.icon-delete {
    color: red !important
}

.icon-edit {
    color: #333 !important
}

.x-form-item-body input {
    cursor: pointer !important
}

.x-window-default {
    border: 0 !important
}

.footer {
    background: #faf8f9;
    padding-left: 20px;
    color: black
}

.header-icon-fullname {
    opacity: .5
}

.fa-exclamation-triangle {
    color: yellow !important
}

.x-window-header-default {
    border-width: 0 !important
}

.fa-power-off {
    color: #fff !important
}

.x-fieldset {
    border-radius: 0 !important
}

.personal-search-icon {
    background-size: 18px !important;
    opacity: .75
}

.personal-search {
    top: 10px !important;
    background: inherit !important;
    border-radius: 3px !important
}

    .personal-search span {
        color: white !important
    }

    .personal-search .x-btn-inner-default-toolbar-small {
        width: 100%;
        text-align: center
    }

.align-field-info1 {
    left: 358px !important
}

.align-field-info2 {
    left: 712px !important
}

.x-window-header .x-tool-img {
    background-image: url(../resources/images/icons/close_white.png) !important;
    background-size: 16px !important;
    opacity: 1 !important
}

.x-window-header-default .x-tool-img {
    background-color: transparent !important
}

.x-window-header .x-tool-close::before, .x-window-header .x-tool-img::before {
    content: unset !important
}

.x-mask {
    z-index: 9999 !important
}

.icon-contact {
    background-image: url(../resources/images/icons/contact.png) !important
}

.personal-menu {
    border: 1px solid #ccc !important
}

.personal-postion {
    font-size: 11px
}

.personal-top-avatar {
    background: #ff8c00;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold
}

.x-panel-header-default-horizontal.x-header-noborder {
    padding: 10px !important
}

.tab-main-page .x-tab {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #1c6f73
}

.text-view .field-salary.field-salary-default {
    font-weight: 600;
    padding-left: 10px
}

.field-salary {
    padding-top: 6px
}

.text-view .dsfeild-ss.dsfeild-ss-default {
    font-weight: 600;
    padding-left: 10px;
    font-size: 13px
}

.x-grid-row .red-value {
    color: red !important
}

.dsfeild-ss {
    line-height: 20px;
    padding: 4px 10px
}

.dsfeild-ss-salary-normal {
    line-height: 20px;
    padding: 4px 0
}

.height-line {
    line-height: 20px !important
}

.check-box-style {
    line-height: 18px
}

.fieldset-in .x-fieldset-header {
    margin-left: -16px
}

.tab-main-page .x-tab-close-btn {
    top: 10px !important;
    right: 3px !important
}

.style-label-f .x-form-item-label {
    width: 114px !important
}

.style-label-f .x-form-item-label-default {
    text-align: left;
    font-size: 12px !important;
    color: #555 !important
}

.style-label-f .x-form-item-label-inner {
    width: 110px !important
}

.style-label .x-form-item-label {
    width: 128px !important
}

.style-label-cungCty .x-form-item-label {
    width: 124px !important
}

.style-label-cungCty .x-form-item-label-inner {
    width: 110px !important
}

.style-label .x-form-item-label-default {
    text-align: left;
    font-size: 12px !important;
    color: #555 !important
}

.style-label .x-form-item-label-inner {
    width: 130px !important
}

.x-grid-row td {
    cursor: pointer !important;
    vertical-align: middle
}

.sencha-logo .main-logo {
    text-transform: uppercase !important
}

    .sencha-logo .main-logo img {
        width: auto;
        height: 28px;
        margin: 0 !important;
        top: 7px !important
    }

.sencha-logo .main-logo {
    text-transform: uppercase
}

.sencha-logo .main-logo-out {
    line-height: 32px !important
}

.tab_main_content .x-tab-bar {
    height: 40px !important
}

.tab_main_content .x-tab {
    height: 32px !important
}

.btn-delete {
    background-color: #f6f6f6 !important;
    position: absolute !important;
    top: 0 !important;
    right: -5px !important;
    border-radius: 50%;
    width: 25px !important;
    height: 25px !important;
    border: 1px solid #ccc !important
}

    .btn-delete span {
        color: red;
        padding-bottom: 8px
    }

.border-view {
    border: 1px solid #ccc !important
}

.base-edit .x-panel-header {
    background: transparent !important;
    border: 0 !important;
    color: #333
}

    .base-edit .x-panel-header .x-panel-header-title {
        color: #333;
        font-size: 18px;
        font-weight: bold
    }

.role-membership .x-toolbar-footer, .x-window .x-toolbar-footer {
    background-color: #e5e5e5 !important
}

.x-column-header-inner {
    padding: 10px !important
}

.active-default {
    background-color: #f3f781
}

.active-certificate {
    background-color: #f2f5a9
}

.createnew-certificate {
    color: red;
    background-color: #bbc6ce
}

    .createnew-certificate:hover {
        background-color: #b7b7b7
    }

.x-grid-item-selected .createnew-certificate {
    background-color: #b7b7b7
}

.before-certificate {
    background-color: #d2f9f0
}

    .before-certificate:hover {
        background-color: #f2f5a9
    }

.x-grid-item-selected .before-certificate {
    background-color: #ffefbb
}

.font-weight .x-form-display-field {
    font-weight: bold !important;
    font-size: 14px !important
}

.fa-thumbs-o-up, .fa-bars {
    color: #2a92d0 !important
}

#metro-menu {
    background-image: url(../resources/images/metro/background-column-color-3.jpg);
    background-position: -7% 0;
    width: 60% !important;
    margin-top: 30px;
    padding-left: 85px
}

.metro-header {
    margin-top: 0;
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: 16px;
    line-height: 24px;
    text-align: left
}

    .metro-header .bot-title {
        font-weight: 600
    }

    .metro-header .number-approval {
        position: absolute;
        top: 3px;
        right: 10px;
        font-size: 18px
    }

        .metro-header .number-approval.count-feedback {
            margin-right: 125px;
            margin-top: -2px
        }

.metro-img {
    float: left;
    padding: 9px;
    height: 68px;
    width: 63px;
    display: flex;
    align-items: center
}

.thumbnail-item {
    float: left;
    width: 116px;
    height: 156px;
    margin-right: 20px;
    cursor: pointer
}

.thumbnails {
    display: table;
    margin: auto
}

.thumbnails {
    display: table
}

.metro-green {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #60a917 !important
}

.metro-pink {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #dc4fad !important
}

.metro-org {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #fa6800 !important
}

.metro-blue {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #2086bf !important
}

.metro-thanblue {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #0b4cd9 !important
}

.metro-red {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #ce352c !important
}

.metro-yell {
    border-radius: 4px !important;
    color: white !important;
    margin-top: 4px;
    width: 34px !important;
    height: 34px !important;
    background-color: #f7c80a !important
}

.metro-black {
    border-radius: 4px !important;
    color: white !important;
    background-color: #3c3f41 !important
}

.clsAvatar {
    background-color: #f5f6ce !important
}

.x-treegrid-col {
    border-left: 1px solid #d0d0d0
}

.sencha-dash-dash-headerbar {
    background-color: #fff !important
}

.button-tras {
    padding: 12px !important;
    background: transparent !important
}

    .button-tras:hover {
        color: white;
        background-color: #0b3f61 !important
    }

.fa-arrow-circle-left {
    color: white !important;
    background: transparent !important
}

.icon-home-button {
    background: transparent !important
}

.fa-navicon {
    color: white !important;
    font-size: 16px !important
}

.nav-tree-badge {
    border: 1px !important;
    border-bottom-width: medium !important
}

.metro-color {
    color: #fff;
    border-color: transparent !important
}

.metro-color-1 {
    background-color: #6ebdda !important
}

.metro-color-2 {
    background-color: #f66b6a !important
}

.metro-color-3 {
    background-color: #ce352c !important
}

.metro-color-4 {
    background-color: #9ad5eb !important
}

.metro-color-5 {
    background-color: #e7d183 !important
}

.metro-color-6 {
    background-color: #93d0cc !important
}

.metro-color-7 {
    background-color: #75c4d1 !important
}

.metro-color-8 {
    background-color: #9ccad2 !important
}

.metro-color-9 {
    background-color: #e1c497 !important
}

.metro-color-10 {
    background-color: #e1c497 !important
}

.metro-icon {
    font-size: 60px !important
}

.main-header {
    background-color: #0093d9;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center
}

.header-home {
    width: 100% !important;
    left: 0 !important
}

.btn-logout {
    top: 4px !important;
    padding: 12px !important;
    margin: 0 !important;
    background-color: #0089ca !important;
    border: none !important
}

.logout-in-page {
    background-color: inherit !important;
    border: none !important
}

    .logout-in-page:hover {
        background-color: #0b3f61 !important
    }

.btn-tabPanel1 {
    background-color: #398439 !important;
    border: none !important
}

.btn-tabPanel2 {
    background-color: #0072c6 !important;
    border: none !important
}

.btn-tabPanel3 {
    background-color: red !important;
    border: none !important
}

.btn-tabPanel:hover {
    background-color: #0b3f61 !important
}

.btn-logout-in {
    top: 0 !important;
    left: 20px !important;
    padding: 12px !important;
    margin: 0 !important;
    border: none !important
}

.sencha-logo .btn-logout-in {
    top: -4px !important;
    left: 1236px !important;
    border: 0 !important
}

.padding-icon-home {
    padding-top: 6px !important
}

.body-home .x-panel-body {
    background-color: #f0f0f0 !important
}

.btn-upload-avatar {
    height: 16px !important;
    margin: 4px !important;
    right: auto !important;
    bottom: 0 !important;
    border: 0 !important;
    margin-left: 2px !important;
    padding: 1px !important;
    left: 2px !important;
    top: 86px !important;
    background: transparent !important;
    color: white !important
}

.x-container.avatar.x-box-item.x-container-default.x-box-layout-ct {
    top: 0 !important
}

.x-fieldset-header {
    padding: 0 !important
}

.title-high-group {
    color: #0087c8;
    font-size: 13px;
    font-weight: 600
}

.fieldset-styleL .x-fieldset-body {
    left: -16px !important
}

.x-toast {
    top: 115px !important
}

.x-css-shadow[style] {
    box-shadow: #005696 0 0 30px !important
}

.action-column-with-text {
    font-size: 12px !important;
    height: auto !important;
    width: auto !important;
    cursor: pointer;
    padding: 5px 7px;
    margin-left: 5px
}

    .action-column-with-text span {
        color: #fff
    }

.action-edit {
    background: #398439 !important
}

.action-delete {
    background: red !important
}

.action-see {
    background: #088a85 !important
}

.x-action-col-icon {
    color: white
}

.style-btn-tabP {
    font-weight: bold !important;
    font-size: 14px !important
}

.x-tab-bar-default {
    background-color: white !important
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
    width: 100%;
    margin: 0;
    padding: 0 !important;
    list-style: none inside;
    border-bottom: 2px #1ba1e2 solid !important;
    white-space: nowrap;
    overflow: visible
}

.x-tab-default-top:hover {
    background-color: #eee !important
}

.x-tab-default-top.x-tab-active {
    background-color: #1ba1e2 !important;
    color: #fff !important;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    border: none !important
}

.x-tab-default-top .x-tab-inner-default {
    color: inherit !important
}

.x-tab-default-top {
    display: block;
    float: left;
    padding: 8px 24px;
    color: #1d1d1d !important;
    font-size: .6875rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    border: 1px #d9d9d9 solid !important
}

    .x-tab-default-top:visited {
        color: #2086bf !important
    }

.waiting-form .highlight-field, .waiting-form .highlight-field .x-form-display-field-default, .waiting-form .highlight-field .x-form-item-label-default {
    color: #ce352c !important;
    font-weight: bold
}

.current-form .highlight-field, .current-form .highlight-field .x-form-display-field-default, .current-form .highlight-field .x-form-item-label-default {
    color: #60a917 !important;
    font-weight: bold
}

.waiting-form-create-new .highlight-field-create-new, .waiting-form-create-new .highlight-field-create-new .x-form-display-field-default, .waiting-form-create-new .highlight-field-create-new .x-form-item-label-default {
    color: #ce352c;
    font-weight: bold
}

.current-form-create-new .highlight-field-create-new, .current-form-create-new .highlight-field-create-new .x-form-display-field-default, .current-form-create-new .highlight-field-create-new .x-form-item-label-default {
    color: #ce352c;
    font-weight: bold
}

.x-box-scroller-body-horizontal {
    border-bottom: 3px #ebebeb solid !important;
    height: 45px !important
}

.metro-border-btn {
    padding: 0 1rem !important;
    height: 1.9rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px #d9d9d9 solid !important;
    color: #262626 !important;
    cursor: pointer !important;
    outline: none !important;
    font-size: .875rem !important;
    margin: .15625rem 0 !important;
    top: -3px !important;
    background: #eee !important
}

    .metro-border-btn:hover {
        border-color: #787878 !important
    }

    .metro-border-btn:active {
        background: #eee !important;
        color: #262626 !important;
        box-shadow: none !important
    }

    .metro-border-btn .x-btn-inner-default-small {
        text-align: center !important;
        color: #262626 !important;
        cursor: pointer !important;
        outline: none !important;
        font-size: .875rem !important
    }

.proxy-source img {
    max-width: 45px
}

.action-reject span, .action-approval span, .logout span {
    color: #fff !important
}

.action-reject {
    background: #c9302c !important
}

.action-view {
    background: #286090 !important
}

.action-redirec {
    background: #7885c7 !important
}

.approval-item-title {
    font-size: 14px;
    font-weight: 600
}

.approval-status {
    color: #fff;
    padding: 5px 4px;
    font-size: 11px;
    margin-right: 3px;
    width: 120px;
    display: inline-block;
    text-align: center
}

    .approval-status.draft {
        background: #5cb85c
    }

    .approval-status.wait-approve {
        background: #166da0
    }

    .approval-status.approve {
        background: #cc2d2d
    }

    .approval-status.reject {
        background: #2c3e50
    }

    .approval-status.wait-desist {
        background: #166da0
    }

    .approval-status.desist {
        background: #cc2d2d
    }

    .approval-status.desist-reject {
        background: #2c3e50
    }

.x-accordion-item .x-accordion-hd {
    background: #e0ebf3;
    border-width: 0;
    border-color: #259499;
    padding: 12px 10px
}

.approval-history-title {
    padding: 12px 10px;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
    background: #f5f5f5
}

.total-comments {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px
}

.comment-container {
    border: 1px solid #d0d0d0;
    padding: 15px 10px 10px 10px
}

.event-comment-dataview {
    border-top: 1px solid #d0d0d0;
    margin-top: 10px !important
}

.approval-history-container {
    border: 1px solid #d0d0d0
}

.approval-action {
    color: #fff;
    padding: 5px 4px;
    font-size: 11px;
    margin-right: 3px;
    width: 95px;
    display: inline-block;
    text-align: center
}

    .approval-action.transfer {
        background: #5cb85c
    }

    .approval-action.approve {
        background: #166da0
    }

    .approval-action.reject {
        background: #cc2d2d
    }

    .approval-action.desist {
        background: #2c3e50
    }

.audit-threedot {
    font-weight: 400;
    margin-left: 5px
}

.style-checkbox-relative {
    left: 155px !important
}

.no-focus .x-grid-item-focused .x-grid-cell-inner:before {
    border: 0
}

.header-metro-title {
    top: 3px !important;
    position: relative
}

    .header-metro-title > img {
        position: absolute;
        top: -10px;
        left: 8px
    }

    .header-metro-title > h3 {
        text-align: center;
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        font-weight: 100;
        color: #3f3f3f;
        margin: 4px 0 10px 0
    }

        .header-metro-title > h3 .highlight {
            color: #1999c8;
            font-weight: 600
        }

.style-avatar-header {
    right: auto;
    text-align: center !important;
    left: 1002px !important;
    top: -5px !important;
    width: 50px
}

.header-metro-image {
    height: 102px;
    background: url("../resources/images/metro/bkg-user.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center
}

    .header-metro-image .image-profile {
        border-radius: 50%;
        height: 91px;
        width: 91px;
        margin-top: 5px;
        margin-left: 76px;
        text-align: center
    }

.body-home .x-panel-body-default {
    background-color: #fff !important;
    background: #fff right url("../resources/images/metro/background_hr_new.png");
    background-repeat: no-repeat;
    background-size: 70% 100%
}

.image-metro-avatar {
    padding: 0 !important;
    border-radius: 50% !important;
    margin: 0 !important;
    width: 62px !important;
    right: auto !important;
    left: 999px !important;
    top: 15px !important;
    height: 60px !important
}

.home-page-view-metro {
    width: 100%;
    margin: 0 auto
}

.x-body {
    background: #fff !important
}

.grid-for-fieldset {
    background: #fff;
    border: 0;
    border-top: none !important;
    padding: 0
}

    .grid-for-fieldset legend {
        border-bottom: none !important
    }

.profile-page-body {
    width: 1200px !important
}

.form-field-readonly {
    background: #ddd
}

.background-profile-out {
    background: white
}

.avatar img {
    top: 0 !important
}

.myteamdiv {
    font-size: 12px !important;
    margin-bottom: 4px
}

.myteamdivName {
    font-size: 14px !important;
    margin-bottom: 4px;
    font-weight: bold
}

.myteamdiv-chuc-vu {
    font-size: 12px !important;
    margin-bottom: 4px;
    font-weight: bold
}

.bold {
    font-weight: bold !important
}

.search-icon {
    background-size: auto
}

.loadMask {
    left: 50% !important;
    top: 25% !important
}

.test {
    position: absolute;
    !important;
    top: 1px !important;
    right: 1px !important;
    bottom: 1px !important;
    display: block !important
}

.x-tab.x-tab-active.x-tab-default .x-tab-icon-el {
    color: white !important
}

.x-tab-text.x-tab-icon-left > .x-tab-icon-el-default {
    color: #1d1d1d !important
}

.green-text {
    color: #1999c8
}

.ess-tabpanel .border-config.x-tabpanel-child {
    border-top: none !important;
    top: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.leave-high-light {
    line-height: 18px;
    font-size: 16px;
    color: #1999c8
}

.register-option-fieldset .x-fieldset-header-text {
    width: 95%
}

.register-option-fieldset .register-option-fieldset-title {
    float: right
}

.recipient-label {
    cursor: pointer;
    margin: 0 5px
}

    .recipient-label:hover {
        color: red;
        text-decoration: underline
    }

.label-active {
    color: red;
    text-decoration: underline
}

.label-radio-import {
    color: #282a76;
    font-size: 14px;
    font-weight: bold
}

.combobox-column-filter {
    width: auto !important;
    max-width: 350px;
    min-width: 100px
}

.x-column-header-checkbox {
    height: 30px !important
}

.clear-button {
    position: absolute !important;
    top: 1px !important;
    right: 80px !important;
    background-color: #fff !important;
    border: 0;
    height: 26px;
    padding: 4px;
    margin-top: 0
}

    .clear-button span {
        color: #555 !important;
        font-size: 16px;
        font-weight: bold
    }

.clear-btn-has-view-image {
    top: 14px !important
}

.add-user-icon {
    color: #919191
}

.membership-view .x-tool-tool-el.fa-user-plus {
    width: 20px
}

.approval.border-config {
    border: 2.5px solid #ebebeb !important;
    padding: 10px 25px 15px 25px;
    margin-top: 20px
}

.button-file {
    background-color: transparent !important
}

    .button-file span {
        color: #333 !important
    }

    .button-file .fa {
        font-size: 12px !important
    }

    .button-file .x-btn-icon-el-default-small {
        height: 26px !important
    }

.tag-file {
    padding: 2px 5px !important;
    background-color: #ccc !important;
    color: #333 !important;
    margin-right: 5px !important;
    border-radius: 20px !important
}

.side-menu.x-treelist-navigation .x-treelist-item-expanded {
    background-color: transparent !important
}

.side-menu .x-treelist-item-expander {
    color: black !important
}

.st-online {
    background: #5bc0de;
    padding: 5px 10px;
    color: white
}

.st-offline {
    background: #d9534f;
    padding: 5px 10px;
    color: white
}

.multiSelectText {
    border-radius: 0;
    background-color: #ececec;
    border: 1px solid #ececec;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 5px !important;
    float: left;
    width: 160px
}

    .multiSelectText .x-tagfield-item-close {
        width: 12px;
        height: 12px;
        top: 5px;
        left: 5px;
        right: 3px;
        -ms-filter: "alpha(opacity=85)";
        opacity: .85;
        font: 12px/1 FontAwesome !important;
        color: #919191
    }

.multiSelectTextExpand {
    vertical-align: bottom;
    cursor: pointer;
    background-color: #fff;
    border-color: #fff
}

.text-right .x-grid-cell-inner {
    text-align: right !important
}

.small-title-import {
    color: #1999c8;
    font-size: 14px;
    font-weight: bold
}

    .small-title-import.pointer {
        cursor: pointer;
        font-style: italic;
        text-decoration: underline
    }

.color-black {
    color: #3f3f3f !important
}

.color-red {
    color: #f44336 !important
}

.color-green {
    color: #4caf50 !important
}

.no-top {
    top: 0 !important
}

.full-height {
    height: 100% !important
}

.border-config.full-height {
    padding: 0 10px 0 10px
}

#orgchart-root > canvas {
    margin-left: -20px
}

.button-no-background .x-toolbar-footer {
    background-color: #fff
}

.text-field-read-only.x-form-text {
    background: #ddd !important
}

.grid_review_data_import .x-column-header {
    border: 1px solid #ccc !important
}

.title-grid .x-panel-header-title-default {
    font-weight: bold;
    color: black
}

.legend-none-bottom legend {
    margin-bottom: 0 !important
}

.permission_deny {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

.x-docked-summary-top .x-grid-row-summary .--row-number {
    width: 46px !important
}
