﻿.RadTreeView_Silk {
    color: #333
}

    .RadTreeView_Silk .rtIn {
        border-radius: 3px
    }

    .RadTreeView_Silk .rtChkTristate:hover {
        color: #14afca
    }

    .RadTreeView_Silk .rtLoadingIcon {
        background-image: url('../Silk/Common/loading_small.gif')
    }

    .RadTreeView_Silk .rtPlusHover, .RadTreeView_Silk .rtMinusHover {
        color: #14afca
    }

    .RadTreeView_Silk .rtHover .rtIn {
        border-color: #bceff8;
        color: #333;
        background-color: #bceff8
    }

    .RadTreeView_Silk .rtSelected .rtIn {
        border-color: #81cfdc;
        color: #fff;
        background-color: #81cfdc
    }

    .RadTreeView_Silk .rtPlus, .RadTreeView_Silk .rtMinus {
        margin: 1px 0 0 -22px;
        width: 22px;
        height: 22px;
        background-image: url(/WebResource.axd?d=uUUjn5Azin59U36iQOnM6p1fvTG4666KgS1JQ4ViI_Y1sYWqJYXvn3og…zJeK_raiIcIemBRbwp9g-JiH55hIsuFR0-mN_SXnVW5t-Fmpvcoi0&t=636975820924239941);
    }
.RadTreeView .rtPlus, .RadTreeView .rtMinus {
    margin: 5px 6px 0 -17px;
    padding: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}
.RadTreeView .rtMinus {
    background-position: 0 -11px;
}
li {
    text-align: -webkit-match-parent;
}

.RadTreeView_Silk .rtUL {
    color: #555;
}

.RadTreeView .rtUL {
    margin: 0;
    padding: 0;
    list-style: none;
}
.RadTreeView_Silk .rtMinus, .RadTreeView_Silk .rtMinusHover {
    background-position: -64px -64px;
}
.RadTreeView .rtPlus, .RadTreeView .rtMinus {
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: .71428571em;
    left: 3px;
    margin-top: -3px;
    cursor: pointer;
}
.RadTreeView .rtUL {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.RadTreeView .rtPlus:before, .RadTreeView .rtMinus:before {
    font: 16px 'WebComponentsIcons';
    margin: -.5em 0 0 -.5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}
.RadTreeView {
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

    .RadTreeView .rtIn, .RadTreeView .rtImg, .RadTreeView .rtChkTristate, .RadTreeView .rtLoadingIcon, .RadTreeView label {
        display: inline-block;
        vertical-align: middle
    }

    .RadTreeView .rtTemplate, .RadTreeView input {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text
    }

    .RadTreeView .rtUL {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block
    }

        .RadTreeView .rtUL .rtUL {
            vertical-align: top
        }

    .RadTreeView .rtLI {
        padding-left: 20px;
        position: relative;
        overflow: hidden
    }

    .RadTreeView .rtOut {
        padding: 1px 0
    }

    .RadTreeView .rtIn {
        padding: 4px;
        border: 1px solid transparent;
        text-decoration: none;
        cursor: pointer
    }

    .RadTreeView a.rtIn {
        color: inherit;
        cursor: pointer
    }

    .RadTreeView .rtText {
        vertical-align: top;
        outline: 0
    }

    .RadTreeView .rtImg {
        margin-right: 4px
    }

    .RadTreeView .rtChkTristate {
        width: 1em;
        height: 1em;
        line-height: 1em;
        min-width: 1em
    }

        .RadTreeView .rtChkTristate:before {
            display: block;
            font: 16px/1 WebComponentsIcons
        }

    .RadTreeView .rtUnchecked:before {
        content: "\e304"
    }

    .RadTreeView .rtChecked:before {
        content: "\e305"
    }

    .RadTreeView .rtIndeterminate:before {
        content: "\e306"
    }

    .RadTreeView .rtTemplate:after {
        content: "";
        clear: both;
        display: block
    }

    .RadTreeView input {
        vertical-align: middle
    }

    .RadTreeView .rtEdit {
        white-space: nowrap !important
    }

        .RadTreeView .rtEdit input {
            margin: 0;
            padding: 0;
            height: 1.42857143em;
            border: 0;
            outline: 0;
            color: inherit;
            background: 0;
            font: inherit;
            cursor: text
        }

    .RadTreeView .rtLoadingIcon {
        width: 16px;
        height: 16px;
        margin: -4px 3px 0;
        overflow: hidden;
        background-position: 0 0;
        background-repeat: no-repeat
    }

    .RadTreeView .rtLoadingBelow {
        display: block
    }

    .RadTreeView .rtPlus, .RadTreeView .rtMinus {
        width: 16px;
        height: 16px;
        line-height: 16px;
        position: absolute;
        top: .71428571em;
        left: 3px;
        margin-top: -3px;
        cursor: pointer
    }

        .RadTreeView .rtPlus:before, .RadTreeView .rtMinus:before {
            font: 16px 'WebComponentsIcons';
            margin: -.5em 0 0 -.5em;
            width: 1em;
            height: 1em;
            line-height: 1em;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%
        }

        .RadTreeView .rtPlus:before {
            content: "\e005"
        }

        .RadTreeView .rtMinus:before {
            content: "\e006"
        }

    .RadTreeView .rtLines .rtLI:before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 10px;
        border-left: 1px dotted #7b7b7b
    }

    .RadTreeView .rtLines .rtFirst:before {
        top: .71428571em;
        margin-top: 4px
    }

    .RadTreeView .rtLines .rtLast:before {
        height: .71428571em;
        padding-top: 4px
    }

    .RadTreeView .rtLines .rtFirst.rtLast:before {
        display: none
    }

    .RadTreeView .rtLines .rtOut:before {
        content: "";
        display: block;
        width: 9px;
        height: .71428571em;
        position: absolute;
        top: 5px;
        left: 11px;
        border-bottom: 1px dotted #7b7b7b
    }

    .RadTreeView[disabled], .RadTreeView .rtDisabled {
        filter: alpha(opacity=50);
        opacity: .5
    }

        .RadTreeView[disabled] .rtDisabled {
            filter: alpha(opacity=100);
            opacity: 1
        }

    .RadTreeView label {
        font: inherit
    }

.RadTreeView_rtl .rtLI {
    padding-left: 0;
    padding-right: 20px
}

.RadTreeView_rtl .rtDisabled .rtChkTristate, .RadTreeView_rtl .rtDisabled .rtChkTristate:hover {
    color: inherit
}

.RadTreeView_rtl .rtPlus, .RadTreeView_rtl .rtMinus {
    left: auto;
    right: 3px
}

    .RadTreeView_rtl .rtPlus:before {
        content: "\e007"
    }

.RadTreeView_rtl .rtImg {
    margin-left: 4px;
    margin-right: auto
}

.RadTreeView_rtl .rtLines .rtLI:before {
    left: auto;
    right: 10px
}

.RadTreeView_rtl .rtLines .rtOut:before {
    left: auto;
    right: 11px
}

.rtDropAbove, .rtDropBelow {
    border: 1px dotted #7b7b7b;
    font-size: 3px;
    line-height: 3px;
    height: 3px;
    margin-top: -1px
}

.rtDropAbove {
    border-bottom: 0
}

.rtDropBelow {
    border-top: 0
}

div.RadTreeView_designtime .rtOut {
    position: relative
}

div.RadTreeView_designtime .rtPlus, div.RadTreeView_designtime .rtMinus {
    margin: 0;
    position: absolute;
    left: 3px;
    top: 4px
}

.rtTouchDragClue {
    margin-top: -50px
}